<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="mmsa">
<head>

    <!-- META -->
    <meta charset="utf-8">

    <!-- SCROLLS -->
    <link rel="stylesheet" href="css.css">    

   <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    
    <script lang="javascript">
    
var mmsa = angular.module('mmsa', []);    

function mainController($scope, $http) {
    $scope.formData = {};

    // when landing on the page, get all sections and show them
    $http.get('/api/sections')
        .success(function(data) {
            $scope.sections = data;
            console.log(data);
        })
        .error(function(data) {
            console.log('Error: ' + data);
        });
}
   
</script>    
    
    
    
</head>

<body ng-controller="mainController">

<h1>Company Maturity Model - Self Assessment</h1>

<table width="100%">
    <tr>
        <td width="20%" valign="top" class="nav">
            <div ng-repeat="section in sections">
               
                <h3><a class="stealthlink" href="#section{{section.id}}">{{section.id}} {{section.title}}</a></h3>
                
                <div ng-repeat="q in section.questions">
                    <a class="stealthlink" href="#q{{q.id}}"><span class="completed{{q.completed != nil}}">{{q.id}} {{q.title}}</span></a>
                </div>
            </div>    
        </td>
        <td>
            
<div ng-repeat="section in sections">
    
<a name="section{{section.id}}"></a>
<h2>    {{section.id}}. {{section.title}}  </h2>
    
    <div ng-repeat="q in section.questions">

        <a name="q{{q.id}}"></a>
        <h3  class="completed{{q.completed != nil}}">{{q.id}} {{q.title}}: {{q.subtitle}}</h3>
        
        <div  ng-repeat="option in q.options">
                <input id="radio{{option.number}}" ng-model="q.completed" type="radio" name="radio{{q.id}}" value="{{option.number}}" ><label for="radio{{q.id}}"><span><span></span></span>{{option.number}}. {{option.text}}</label>
        </div>
    </div>
</div>    
            
            
        </td>
    </tr>
</table>            
 
<script type="text/javascript">
$(document).ready(function() {
   $('#nav').localScroll({duration:800});
});
</script>
    
</body>


</html>