
<form method="post">

<table width="100%">
    <tr>
        <td width="20%" valign="top">
            <div id="sticky-anchor"></div>
            <div id="sticky">
                
                <h4><a class="stealthlink" href="#intro">Intro</a></h4>
                
                <div ng-repeat="section in sections">
                
                    <h4><a class="stealthlink" href="#section{{section.id}}">{{section.id}}. {{section.title}}</a></h4>
                    
                    <div ng-repeat="q in section.questions">
                        <a class="stealthlink" href="#q{{q.id}}"><span class="completed{{q.answer != nil}}">{{q.id}} {{q.title}}</span></a>
                    </div>
                </div>
                
                 <button type="submit" ng-click="save()">Save</button>
                
            </div>    
        </td>
        <td id="content">

<div class="bordered">
    <table>
        <tr>
            <td>
                <h2><a name="intro"></a>Introduction</h2>
                The Microsoft Ventures Accelerator runs a customized program which we tailor to the specific needs of your company.  This assessment is a useful tool for uncovering those needs, and determining which areas of focus will maximize the benefit your company derives from the Accelerator program.  

                <h3>Instructions</h3>
                <h4>Step 1 – Rate Yourself</h4>
                This document enables you to rate yourself against many different dimensions. Each dimension includes a table with several descriptions, numbered in ascending order. Choose the highest-valued description which fully matches your company.   
                <h4>Step 2 – Prioritize</h4>
                This assessment helps to facilitate a productive discussion of your goals and challenges.  The MVA team will work with you to refine (or define) the business, product and technical priorities to focus on.
                <h4>Step 3 – Make a plan</h4>
                Together we'll build a work plan to help you reach your goals.  Given your plan, the MVA team can hook you up to the right resources (such as legal/financial/marketing/technical guidance and 1:1 mentor meetings).
            </td>
            <td valign="top">
                <br/><br/>
                <img src="somesortofidea.png" style="max-width:100%">
            </td>
        </tr>
    </table>
</div>

            
<div ng-repeat="section in sections" class="bordered">
<h2><a name="section{{section.id}}"></a> {{section.id}}. {{section.title}}</h2>
    
    <div ng-repeat="q in section.questions">

        <a name="q{{q.id}}"></a>
        <h3  class="completed{{q.completed != nil}}">{{q.id}} {{q.title}}: {{q.subtitle}}</h3>
        
        <div  ng-repeat="option in q.options">
                <input id="radio{{option.number}}" ng-model="q.answer" type="radio" name="radio{{q.id}}" value="{{option.number}}" ><label for="radio{{q.id}}"><span><span></span></span>{{option.number}}. {{option.text}}</label>
        </div>
    </div>
</div>    
            
            
        </td>
    </tr>
</table>            
 
</form>

<script lang="javascript">
/* 

    function sticky_relocate() {
        
        try
        {
            var window_top = $(window).scrollTop();
            var div = $('#sticky-anchor');
            if (div)
            {
                var div_top = .offset().top;
                if (window_top > div_top) {
                    $('#sticky').addClass('stick');
                } else {
                    $('#sticky').removeClass('stick');
                }
            }
        }
        catch(err) {
            
        }
    }

    $(function () {
        $(window).scroll(sticky_relocate);
        sticky_relocate();
    });
*/   
</script>