<br>

<div align="center" width="80%">

<table>
    <tr>
        <td width="20%"></td>
        <td >
             <div class="bordered">
                
                    <h3>Maturity Assessment: {{form.company}}</h3>
                    Last updated: {{form.timestamp  | date:'medium'}}
            </div>        
        
            <div class="bordered" ng-repeat="section in sections">
                <h3>{{section.id}}. {{section.title}}</h4>
                <table>
                <tr ng-repeat="q in section.questions">
                        <td width="250px"><h4>{{q.id}} {{q.title}}</h4></td><td><img src="score_{{q.answer}}.png" width="50%" height="40%"></td>
                </tr>
                </table>
            </div>
        </td>
        <td width="20%"></td>
    </tr>
</table>        

</div>